asgiref==3.9.1
boto3==1.39.9
celery[redis]==5.6.0
Django==5.2.4
django-cors-headers==4.7.0
mysqlclient==2.2.7
nibabel==5.2.0
numpy==2.3.2
pillow==11.3.0
python-decouple==3.8
sqlparse==0.5.3
trimesh==4.7.1
