{% extends 'common/base_app.html' %}
{% load static %}

{% block title %}Scans - Yggdrasil{% endblock %}

{% block main_class %}container-fluid mt-4{% endblock %}

{% block extra_css %}
{% include 'common/partials/legacy_head.html' %}
<link rel="stylesheet" href="{% static 'css/patient_list.css' %}">
{% endblock %}

{% block content %}
{% include 'common/partials/patient_list_content.html' %}
{% endblock %}

{% block extra_js %}
{% include 'common/partials/legacy_scripts.html' %}
<script src="{% static 'js/patient_list.js' %}"></script>
{% endblock %}

