{% extends 'common/base_app.html' %}
{% load static %}

{% block title %}Scans - Yggdrasil{% endblock %}

{% block main_class %}container-fluid mt-4{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/patient_list.css' %}">
{% endblock %}

{% block content %}
{% include 'common/partials/patient_list_content.html' %}
{% endblock %}

{% block extra_js %}
{# Loaded for its rerun helpers; its patient-page controller finds no panel here and stays idle. #}
<script src="{% static 'js/caption_structuring.js' %}"></script>
<script src="{% static 'js/rerun_modal.js' %}"></script>
<script src="{% static 'js/patient_list.js' %}"></script>
{% endblock %}

